<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acgist.user.dao.mapper.PathMapper">

	<select id="selectByRole" resultType="com.acgist.user.model.entity.PathEntity">
	SELECT path.* FROM t_path path
		LEFT JOIN t_role_path rp ON path.id = rp.path_id
		LEFT JOIN t_role role ON rp.role_id = role.id
	WHERE role.id = #{id}
	</select>

	<select id="selectByUser" resultType="com.acgist.user.model.entity.PathEntity">
	SELECT path.* FROM t_path path
		LEFT JOIN t_role_path rp ON path.id = rp.path_id
		LEFT JOIN t_role role ON rp.role_id = role.id
		LEFT JOIN t_user_role ur ON role.id = ur.role_id
		LEFT JOIN t_user user ON ur.user_id = user.id
	WHERE user.name = #{name}
	</select>

	<select id="selectByPath" resultType="com.acgist.user.model.entity.PathEntity">
	SELECT * FROM t_path WHERE parent_id_path LIKE concat(#{parentIdPath}, '%')
	</select>

	<!-- Bind查询：防止函数导致索引失效使用 -->
	<select id="selectByPathBind" resultType="com.acgist.user.model.entity.PathEntity">
	<bind name="parentIdPathLike" value="parentIdPath + '%'"/>
	SELECT * FROM t_path WHERE parent_id_path LIKE #{parentIdPathLike}
	</select>
	
	<delete id="deleteRolePath">
	DELETE FROM t_path WHERE id in
	<foreach collection="deleteList" item="id" separator="," open="(" close=")">#{id}</foreach>
	</delete>

</mapper>
