<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acgist.user.dao.mapper.PathMapper">

	<select id="selectByRole" resultType="com.acgist.user.model.entity.PathEntity">
	SELECT path.* FROM t_path path
		LEFT JOIN t_role_path rp ON path.id = rp.path_id
		LEFT JOIN t_role role ON rp.role_id = role.id
	WHERE role.id = #{id}
	</select>

	<select id="selectByUser" resultType="com.acgist.user.model.entity.PathEntity">
	SELECT path.* FROM t_path path
		LEFT JOIN t_role_path rp ON path.id = rp.path_id
		LEFT JOIN t_role role ON rp.role_id = role.id
		LEFT JOIN t_user_role ur ON role.id = ur.role_id
		LEFT JOIN t_user user ON ur.user_id = user.id
	WHERE user.name = #{name}
	</select>
	
	<delete id="deleteAllRolePath">
	DELETE rp FROM t_path path
		LEFT JOIN t_role_path rp ON path.id = rp.path_id
		LEFT JOIN t_role role ON rp.role_id = role.id
	WHERE path.id = #{id} OR path.parent_id_path LIKE #{parentIdPath}
	</delete>
	
	<delete id="deleteAll">
	DELETE FROM t_path WHERE id = #{id} OR parent_id_path LIKE #{parentIdPath}
	</delete>

</mapper>
