<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acgist.mssql.mapper.DomainMapper">

	<select id="list" resultType="com.acgist.mssql.entity.Domain">
	SELECT * FROM domain
	</select>

</mapper>
