<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">

	<!-- 系统名称 -->
	<springProperty scope="context" name="system.name" source="spring.application.name" />
	
	<!-- 系统名称 -->
	<contextName>${system.name}</contextName>
	<!-- 日志目录 -->
	<property name="system.path" value="logs" />
	<!-- 异步日志队列长度 -->
	<property name="system.queue" value="2048" />
	<!-- 日志文件缓存大小 -->
	<property name="system.buffer" value="8192" />
	<!-- 日志最大保留时间 -->
	<property name="system.history" value="30" />
	<!-- 日志编码 -->
	<property name="system.charset" value="UTF-8" />
	<!-- 日志格式 -->
	<property name="system.pattern" value="[${system.name}] %d{YYYY-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} %file:%line - %m%n" />

	<appender name="fileDebug" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${system.path}/${system.name}.debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>${system.history}</maxHistory>
			<fileNamePattern>${system.path}/%d{yyyy-MM, aux}/${system.name}.debug.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
		</rollingPolicy>
		<bufferSize>${system.buffer}</bufferSize>
		<immediateFlush>false</immediateFlush>
		<encoder>
			<charset>${system.charset}</charset>
			<pattern>${system.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	<appender name="fileDebugAsync" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="fileDebug" />
		<queueSize>${system.queue}</queueSize>
		<includeCallerData>true</includeCallerData>
		<discardingThreshold>0</discardingThreshold>
	</appender>

	<appender name="fileInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${system.path}/${system.name}.info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>${system.history}</maxHistory>
			<fileNamePattern>${system.path}/%d{yyyy-MM, aux}/${system.name}.info.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
		</rollingPolicy>
		<bufferSize>${system.buffer}</bufferSize>
		<immediateFlush>false</immediateFlush>
		<encoder>
			<charset>${system.charset}</charset>
			<pattern>${system.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>
	<appender name="fileInfoAsync" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="fileInfo" />
		<queueSize>${system.queue}</queueSize>
		<includeCallerData>true</includeCallerData>
		<discardingThreshold>0</discardingThreshold>
	</appender>

	<appender name="fileError" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${system.path}/${system.name}.error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>${system.history}</maxHistory>
			<fileNamePattern>${system.path}/%d{yyyy-MM, aux}/${system.name}.error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
		</rollingPolicy>
		<bufferSize>${system.buffer}</bufferSize>
		<immediateFlush>false</immediateFlush>
		<encoder>
			<charset>${system.charset}</charset>
			<pattern>${system.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>
	<appender name="fileErrorAsync" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="fileError" />
		<queueSize>${system.queue}</queueSize>
		<includeCallerData>true</includeCallerData>
		<discardingThreshold>0</discardingThreshold>
	</appender>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>${system.charset}</charset>
			<pattern>${system.pattern}</pattern>
		</encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
	</appender>
	
	<!-- 引入文件：文件可以不存在 -->
	<!--
	<include resource="logback-include.xml" />
	-->

	<!--
	忽略部分DEBUG日志
	name：包名、日志名称
	additivity：是否追加到根（root）日志
	-->
	<!-- Redis连接 -->
	<logger name="io.lettuce.core" level="INFO" additivity="false">
		<appender-ref ref="fileInfoAsync" />
		<appender-ref ref="fileErrorAsync" />
	</logger>
	<!-- Nacos日志 -->
	<logger name="com.alibaba.nacos.client" level="INFO" additivity="false">
		<appender-ref ref="fileInfoAsync" />
		<appender-ref ref="fileErrorAsync" />
	</logger>
	<!-- Kafka日志 -->
	<logger name="org.apache.kafka.clients" level="INFO" additivity="false">
		<appender-ref ref="fileInfoAsync" />
		<appender-ref ref="fileErrorAsync" />
	</logger>
	<!-- HikariPool日志 -->
	<logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO" additivity="false">
		<appender-ref ref="fileInfoAsync" />
		<appender-ref ref="fileErrorAsync" />
	</logger>
	<!-- MyBatis -->
	<logger name="org.mybatis.spring.SqlSessionUtils" level="INFO" additivity="false">
		<appender-ref ref="fileInfoAsync" />
		<appender-ref ref="fileErrorAsync" />
	</logger>
	<!-- 数据库连接 -->
	<logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="INFO" additivity="false">
		<appender-ref ref="fileInfoAsync" />
		<appender-ref ref="fileErrorAsync" />
	</logger>
	<!-- 数据库事务 -->
	<logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="INFO" additivity="false">
		<appender-ref ref="fileInfoAsync" />
		<appender-ref ref="fileErrorAsync" />
	</logger>
	
	<springProfile name="dev">
		<root level="DEBUG">
			<appender-ref ref="console" />
			<appender-ref ref="fileDebugAsync" />
			<appender-ref ref="fileInfoAsync" />
			<appender-ref ref="fileErrorAsync" />
		</root>
	</springProfile>

	<springProfile name="test">
		<root level="INFO">
			<appender-ref ref="fileDebugAsync" />
			<appender-ref ref="fileInfoAsync" />
			<appender-ref ref="fileErrorAsync" />
		</root>
	</springProfile>
	
	<springProfile name="release">
		<root level="INFO">
			<appender-ref ref="fileDebugAsync" />
			<appender-ref ref="fileInfoAsync" />
			<appender-ref ref="fileErrorAsync" />
		</root>
	</springProfile>

	<springProfile name="!dev &amp; !test &amp; !release">
		<root level="DEBUG">
			<appender-ref ref="console" />
			<appender-ref ref="fileDebugAsync" />
			<appender-ref ref="fileInfoAsync" />
			<appender-ref ref="fileErrorAsync" />
		</root>
	</springProfile>

</configuration>